<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>OAuth2Server
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Custom styles for this template -->
</head>

<body>
    <header>
        <% include ../partials/header.ejs %>
    </header>
    <main role="main" class="container">
        <div class="row justify-content-end pb-2">
            <button class="btn btn-secondary"> Back</button>
        </div>
        <div class="row justify-content-center">
            
        </div>
        <div class="row justify-content-end pt-2">

        </div>
    </main><!-- /.container -->
    <footer>
        <% include ../partials/footer.ejs %>
    </footer>
</body>

</html>