<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>OAuth2Server |
        <%= pageName %>
    </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Custom styles for this template -->
</head>


<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="card col-md-6" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-success">Registration successful -
                        <%= userInfo %>
                    </h5>
                    <p class="lead">Your account information is registered, please check your email -
                        <%= userInfo %> and verify your account to activate it. Thanks you</p>
                    <p class="card-text">
                        This page will redirect to login page after <span id="countdown">10</span> seconds
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <footer>
        <% include partials/footer.ejs %>
    </footer>
</body>
<script type="text/javascript">
    // Total seconds to wait
    var seconds = 10;

    function countdown() {
        seconds = seconds - 1;
        if (seconds < 0) {
            window.location = "/";
        } else {
            // Update remaining seconds
            document.getElementById("countdown").innerHTML = seconds;
            // Count down using javascript
            window.setTimeout("countdown()", 1000);
        }
    }
    // Run countdown function
    countdown();
</script>
</html>